.App {
  text-align: left; /* Changed from center to left */
  font-family: "Arial", sans-serif;
}

.App-header {
  background-color: #f7f7f7;
  color: #333;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Data-button,
.Select-button {
  background-color: #199d87;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Data-button:hover,
.Select-button:hover {
  background-color: #0056b3;
}

.stock-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease;
}

.stock-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.stocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Changed from center to flex-start */
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.chart-container {
  margin-top: 20px;
  width: 95%;
  max-width: 600px;
  margin: 20px auto;
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
  .stocks {
    flex-direction: column;
    align-items: flex-start; /* Adjusted for alignment on smaller screens */
  }

  .stock-item {
    width: 80%;
  }

  .chart-container {
    width: 90%;
  }
}
